:root{
  --padding-mobile: 20px;
  --padding-tablet: 50px;
  --padding-desktop: 100px;
  --primary-color: white;
  --secondary-color: #712fdb;
  --border-color: #9996;
  --color-primary-text: black;  
  --color-secondary-text: #9996;
  --color-footer: #3C3C3B;
  --font-family: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family);  
}
ul {
  list-style: none;
  padding-left: 0;
}
a{
  text-decoration: none;
  color: inherit;
}